.wrapper{
    display: flex;
    gap: 110px;
    width: 1002px;
    height: 595px;
    justify-content: center;
    text-align: left;
}
.title{
    display: flex;
    flex-direction: column;
    
    gap: 16px;
}
.size{
   margin-top: 43px;
}
.color{
    margin-top: 24px;
}
.price{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button{
    margin-top: 20px;
    background-color: #5ECE7B;
}
.description{
    margin-top: 40px;
    width: 292px;
}